// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    // --ion-font-family: 
    
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
  
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
  
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
  
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
  
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
  
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
  
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

:root {
// --ion-font-family: 

    --ion-color-background: #f8f6f2;
    --ion-color-background-rgb: 248,246,242;
    --ion-color-background-contrast: #000000;
    --ion-color-background-contrast-rgb: 0,0,0;
    --ion-color-background-shade: #dad8d5;
    --ion-color-background-tint: #f9f7f3;


		--ion-color-verb: #221150;
		--ion-color-verb-rgb: 34,17,80;
		--ion-color-verb-contrast: #FFFFFF;
		--ion-color-verb-contrast-rgb: 255,255,255;
		--ion-color-verb-shade: #24154B;
		--ion-color-verb-tint: #1F0C54;

		--ion-color-preverb: #5f187f;
		--ion-color-preverb-rgb: 95,24,127;
		--ion-color-preverb-contrast: #FFFFFF;
		--ion-color-preverb-contrast-rgb: 255,255,255;
		--ion-color-preverb-shade: #5C1F77;
		--ion-color-preverb-tint: #611086;

		--ion-color-tense: #982d80;
		--ion-color-tense-rgb: 152,45,128;
		--ion-color-tense-contrast: #000000;
		--ion-color-tense-contrast-rgb: 0,0,0;
		--ion-color-tense-shade: #8E367A;
		--ion-color-tense-tint: #A12385;

		--ion-color-mode: #d3436e;
		--ion-color-mode-rgb: 211,67,110;
		--ion-color-mode-contrast: #000000;
		--ion-color-mode-contrast-rgb: 0,0,0;
		--ion-color-mode-shade: #C74E72;
		--ion-color-mode-tint: #DE3769;

		--ion-color-subject: #f8765c;
		--ion-color-subject-rgb: 248,118,92;
		--ion-color-subject-contrast: #000000;
		--ion-color-subject-contrast-rgb: 0,0,0;
		--ion-color-subject-shade: #EF7B64;
		--ion-color-subject-tint: #FE7155;

		--ion-color-object: #febb81;
		--ion-color-object-rgb: 254,187,129;
		--ion-color-object-contrast: #000000;
		--ion-color-object-contrast-rgb: 0,0,0;
		--ion-color-object-shade: #F7BB87;
		--ion-color-object-tint: #FFBA80;
}

.ion-color-verb {
	--ion-color-base: var(--ion-color-verb);
	--ion-color-base-rgb: var(--ion-color-verb-rgb);
	--ion-color-contrast: var(--ion-color-verb-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verb-contrast-rgb);
	--ion-color-shade: var(--ion-color-verb-shade);
	--ion-color-tint: var(--ion-color-verb-tint);
}

.ion-color-preverb {
	--ion-color-base: var(--ion-color-preverb);
	--ion-color-base-rgb: var(--ion-color-preverb-rgb);
	--ion-color-contrast: var(--ion-color-preverb-contrast);
	--ion-color-contrast-rgb: var(--ion-color-preverb-contrast-rgb);
	--ion-color-shade: var(--ion-color-preverb-shade);
	--ion-color-tint: var(--ion-color-preverb-tint);
}

.ion-color-tense {
	--ion-color-base: var(--ion-color-tense);
	--ion-color-base-rgb: var(--ion-color-tense-rgb);
	--ion-color-contrast: var(--ion-color-tense-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tense-contrast-rgb);
	--ion-color-shade: var(--ion-color-tense-shade);
	--ion-color-tint: var(--ion-color-tense-tint);
}

.ion-color-mode {
	--ion-color-base: var(--ion-color-mode);
	--ion-color-base-rgb: var(--ion-color-mode-rgb);
	--ion-color-contrast: var(--ion-color-mode-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mode-contrast-rgb);
	--ion-color-shade: var(--ion-color-mode-shade);
	--ion-color-tint: var(--ion-color-mode-tint);
}

.ion-color-subject {
	--ion-color-base: var(--ion-color-subject);
	--ion-color-base-rgb: var(--ion-color-subject-rgb);
	--ion-color-contrast: var(--ion-color-subject-contrast);
	--ion-color-contrast-rgb: var(--ion-color-subject-contrast-rgb);
	--ion-color-shade: var(--ion-color-subject-shade);
	--ion-color-tint: var(--ion-color-subject-tint);
}

.ion-color-object {
	--ion-color-base: var(--ion-color-object);
	--ion-color-base-rgb: var(--ion-color-object-rgb);
	--ion-color-contrast: var(--ion-color-object-contrast);
	--ion-color-contrast-rgb: var(--ion-color-object-contrast-rgb);
	--ion-color-shade: var(--ion-color-object-shade);
	--ion-color-tint: var(--ion-color-object-tint);
}

