.active-item{
    border-left: 8px solid var(--ion-color-primary);
}

ion-tab-button.tab-selected {
    background-color: white;
    ion-label {
      color: #555555;
    }
  }

ion-tab-bar {
    --border: none;
    // padding-bottom: 1%;
    // --ion-background-color: var(--ion-color-background) !important;
    --ion-background-color: #555555;
}

ion-label{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: white;
}



