.result {
  color: white;
  font: bold 70px Century Gothic, Arial;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
  font-size: 250%;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  margin:0%;
}

ion-popover{
  --backdrop-opacity: 0.6;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px;
}

.selected{
  padding: 0px 15px !important;
}

.title {
  font-size: 22px;
  width: 50%;
  color: white !important;
}

ion-icon {
  margin: 10px !important;
  font-size: 48px;
  color: white;
  fill: white;
  // -webkit-filter: drop-shadow( 0 0 6px rgba(0, 0, 0, 1));
  // filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 1));
  
}

ion-icon:hover{
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba($color: #2B2B2B, $alpha: 0.1) inset;

}

.overlapping {
  position: relative;
}

.bottom{
  position: absolute;
}

.top{
  color: black;
  fill: black;
}

ion-label{
  font-size: 16pt !important;
  font-family: Helvetica;
  letter-spacing: 0.03em;
  color: white !important;
  padding-left:5%;
  width: 20px !important;
  font-weight: bold;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
}

ion-label.english{
  font-weight:bold;
}

ion-label.ling{
  font-style: italic;
  float: left;
}

ion-item.child{
  --margin-start: 0 !important;
  filter: brightness(90%);
  display:block;
}

ion-card-content{
  padding: 15px 15px 0px 15px !important;
}

ion-card{
  margin: 12px 12px;
  border-radius: 10px;
}

ion-button{
  height: 80px;
  width: 160px;
  font-weight: bold;
  font-size: 16px;
}

.error{
  color: red;
  padding-top: 5%;
  padding-bottom: 30%;
  font-size: 16pt;
}

ion-content{
  --ion-background-color: var(--ion-color-background) !important;
  // --ion-background-color: transparent !important;
  
}

ion-card-title{
  font-weight: bold;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
  letter-spacing: 2px !important;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 22pt !important;
}
