
:root{
  --holder: #FFFFFF;
}

.result {
  color: white;
  font: bold Century Gothic, Arial;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
  letter-spacing: 2px;
  // text-align: right;
  font-size: min(48px,max(5vw,22px));
  margin:15px;
}


ion-popover{
  --backdrop-opacity: 0.6;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px;
}

.selected{
  padding: 0px 15px !important;
}

ion-icon {
  margin: 10px !important;
  font-size: 48px;
  color: white;
  fill: white;
  // -webkit-filter: drop-shadow( 0 0 6px rgba(0, 0, 0, 1));
  // filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 1));
}


ion-icon:hover{
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba($color: #2B2B2B, $alpha: 0.1) inset;

}


.overlapping {
  position: relative;
}

.bottom{
  position: absolute;
}

.top{
  color: black;
  fill: black;
}

div.selectedoption{
  padding: 15px;
  width: 100%;
}

ion-label.base{
  // font-weight:bold;
  font-size: min(18pt,max(4vb,14pt)) !important;
  padding-bottom:5px;
  padding-right: 3px;
  padding-left:3px;
  padding-top: 3px;
}

ion-label.translation{
  // font-style: italic;
  font-size: min(15pt,max(3vb,12pt)) !important;
  padding-right: 3px;
  padding-left:3px;
  padding-top: 5px;
}

ion-label{
  // font-size: min(16pt,max(3vb,12pt)) !important;
  font-family: Helvetica;
  letter-spacing: 0.03em;
  color: white !important;
  font-weight: bold;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
}

ion-item.child{
  --margin-start: 0 !important;
  filter: brightness(90%);
  display:block;
}

ion-card-content{
  padding: 15px 15px 0px 15px !important;
}

ion-card{
  margin: 12px;
  border-radius: 10px;
  box-shadow: none;
}

ion-card.active{
  margin: 5px;
  // box-shadow:5px 10px 18px #888888;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
  
}

ion-button{
  height: 80px;
  width: 160px;
  font-weight: bold;
  font-size: 20px;
  --background:#211C1E;
  // color:var(--ion-color-background);
  text-transform:none!important;
}

.error{
  color: red;
  padding-top: 5%;
  padding-bottom: 30%;
  font-size: 16pt;
}

ion-content{
  --ion-background-color: var(--ion-color-background) !important;
  // --ion-background-color: transparent !important;
  
}

ion-text{
  display:none;
}

ion-text.active{
  display: initial;
  font-weight: bold;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
  color: white !important;
  font-size: min(18pt,max(7vi,12pt));
}

ion-card-title{
  font-weight: bold;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
  letter-spacing: 2px !important;
  font-family: 'IBM Plex Sans',sans-serif;
  // font-size: 22pt !important;
  font-size: min(24pt,max(9vi,12pt));
  width: 100% !important;
  color: white !important;
}

ion-card-title.active{
  font-size: min(30pt,max(10vi,12pt));
}

ion-card-title.chosen{
  font-size: min(20pt,max(8vi,12pt));
}

div.titlecard{
  width: 100%;
  padding-left: 15px;
}

// SEARCH ICON
.search-icon { 
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 16px;
}

.icon-shadow {
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.search-icon:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba($color: #2B2B2B, $alpha: 0.1) inset;

}


// AUDIO ICON
.audio-icon {
  color: #ffffff;
  background-color: #343a40;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 8px;
}
