:root{
    --holder: #FFFFFF;
}

ion-content{
    --background: #F2F2F2;
}

ion-list{
    padding:5px;
    border-radius: 10px !important;
    --border-color:#797979
}

ion-list.body{
    margin: 20px;
}

ion-title{
    font-size: 24px !important;
    margin: 20px 25px;
    color: white !important;
    font-weight: bold;
    text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
}


ion-header{
    background-color: white;
    box-shadow: 0px 0 2px black;
    padding: 0px !important;
}

ion-searchbar{
    margin: 5px 25px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    color: white;
    width: auto;
    ion-icon{
            color:white !important;
    }
    height: 50px;
};


ion-item.entry{
    background-color: white;
    --inner-padding-end: 0px;
    padding-left: 0 !important;
    font-size: 16px;
    --min-height: 60px !important;
    --border-color:#797979
    
}

ion-label.main{
    top: 0;
    position:absolute;
    transform: translateX(+10%);
    -webkit-transform: translateX(+10%);
    margin: 2% 0 0 0;
}

ion-label{
    font-weight: bold;
    box-sizing: content-box !important;
    padding: 3px 0;
}


ion-item.active-item{
    box-sizing: border-box;
    box-shadow: 0px 0px 0px;
    background-color: var(--holder) !important;

    ion-label{
        color:white !important;
        filter: brightness(100%) !important;
    }
}

.checkmark{
    visibility: hidden;
    filter: brightness(120%);
    width:40px; 
    height:26px;
    padding-right: 10px;
}

.active-item .checkmark{
    visibility: visible;
}

.footer{
    box-shadow: 0px 0 2px black;
    padding: 0 5px !important;
    --min-height: 60px;
    // height: 10%; // Is there a reason for this? 
    background-color: var(--holder);
}

ion-header{
    padding: 2% 5%;
}


ion-button.cancel{
    --background: white !important;
    --background-hover: #EDEDED;
    --background-hover-opacity: 1 !important;
    font-weight: bold;
    font-size: 20px;
    text-transform:none!important;
    color: var(--holder);
    float: right;
    margin: 15px 25px;

    
}

// ion-icon.cancel:hover{
//     border-radius: 50%;
//     box-shadow: 0 0 0 7px rgba($color: #2B2B2B, $alpha: 0.1) inset;
//   }
  
div.left ion-label{
    bottom:0;
    position:absolute;
    transform: translateX(+10%);
    -webkit-transform: translateX(+10%);
    transform: translateY(-5%);
    -webkit-transform: translateY(-15%);
    font-style: italic;
    font-size: 15px;
    margin: 2px 5px;
}

ion-label{
    // color: var(--holder) !important;
    filter: brightness(70%);
}

div.right .bottom{
    bottom:0;
    // font-style: italic;
    line-height: 1.1;
    font-size: 18px;
    margin-top: 5px;
    padding-bottom: 10px;
}

div.right .top{
    font-size: 20px;
    margin: 5px 0 0 0;
    line-height: 1.1;
    font-style: bold;

}


div.left img {
  top: 0;
  position:absolute;
  transform: translateX(+10%);
  -webkit-transform: translateX(+10%);
  margin: 2% 0 0 0;
}

div.left{
    margin-right: 2%;
    width: 30%;
    height: 100%;
}

div.right{
    margin-left: 2%;
    width: 100%;
    height: 100%;
}

pre{
    margin: 0;
    white-space:pre-wrap;
    overflow-y: hidden !important;
}


.overlapping {
    position: relative;
}

.desous{
    position: absolute;
}

.desus{
    color: black;
    fill: black;
}

// ion-icon {
//     margin: 10px !important;
//     font-size: 48px;
//     color: white;
//     fill: white;
//     // -webkit-filter: drop-shadow( 0 0 6px rgba(0, 0, 0, 1));
//     // filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 1));
// }

// ion-icon:hover{
//     border-radius: 50%;
//     box-shadow: 0 0 0 7px rgba($color: #2B2B2B, $alpha: 0.1) inset;
//   }

  // AUDIO ICON
.audio-icon {
    // background-color: #BDBDBD; // For background = grey
    background-color: var(--holder); // For background = same as text
    border-radius: 50%;
    padding: 0.3em;
    color: white;
    opacity: 0.7;
    margin: 10px;
    font-size: 15px;

  }

  
  .text-with-audio {
    display:flex;
    align-items: center;
  }

  // HELP ICON
  .help-icon {
    color: white; 
    border-radius: 50%;
    padding: 0.3em;
    opacity: 0.8;
    margin: 10px;
  }

  .icon-shadow {
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  }