// AUDIO ICON
.audio-icon {
    color: #ffffff;
    background-color: #343a40;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 8px;
  }